.credits {
  overflow-x: hidden;
  margin-top: 5%;
}

.credits .swiper-wrapper{
  display:inline-flex;
  margin-top: 20px;
}

.credits .drops {
  margin-top: 6%;
}

.actor img {
  filter: brightness(80%);
  margin-bottom: 4%;
}

.actor span {
  opacity: 0.6;
}

@media screen and (max-width:600px) {
  .credits .drops {
    margin-top: 12%;
  }

  .credits {
    margin-top: 3%;
  }
}
