.header {
  background-color: var(--black-color-100);
  width: 100vw;
  position: fixed;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
}

.header .container {
  justify-content: space-between;
  padding: 20px 0px 20px 0px;
  text-transform: uppercase;
}

.header ul {
  gap: 50px;
  text-shadow: 1px 1px 1px black;
}

.header .type {
  gap: 10px;
}

.header button {
  text-shadow: 1px 1px 3px black;
}

.header button + button {
  background: var(--red-color-100);
}

.header button + button:hover {
  background-color: var(--red-color-hover);
}

.header a:hover {
  color: var(--white-color-100);
}
