.header {
  background-color: var(--black-color-100);
  width: 100vw;
  position: fixed;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
  transition: .4s;
}

.header h1{
  cursor: pointer;
}

.active {
  color: var(--white-color-100);
}

.visible {
  background: linear-gradient(to top, transparent, black);
  box-shadow: none;
  padding: 20px 0px 40px 0px;
  transition: .2s;
}

.header .container {
  justify-content: space-between;
  padding: 20px 0px 20px 0px;
  text-transform: uppercase;
}

.header ul {
  gap: 40px;
  text-shadow: 1px 1px 1px black;
}

@media screen and (max-width: 1000px){
  .logo {
    gap: 50px;
    flex-direction: column;
  }
}

@media screen and (max-width: 700px){
  .logo {
    gap: 30px;
  }

  .header ul {
    gap: 5px;
    text-shadow: none;
    flex-wrap: wrap;
  }

  .header {
    background: var(--black-color-100);
    padding: 10px 0px 10px 0px;
    position: relative;
    text-shadow: none;
  }

  .header a {
    padding: 14px 8px;
    background: var(--red-color-100);
    color: var(--white-color-100);
    border-radius: 5px;
    font-size: 0.95rem;
  }
}

@media screen and (max-width: 357px){
  .header ul {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    text-align: center;
  }
}
