.header {
  background-color: var(--black-color-100);
  width: 100vw;
  position: fixed;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
}

.visible {
  background: linear-gradient(to top, transparent, black);
  box-shadow: none;
  padding: 20px 0px 40px 0px;
  transition: .2s;
}

.header .container {
  justify-content: space-between;
  padding: 20px 0px 20px 0px;
  text-transform: uppercase;
}

.header ul {
  gap: 50px;
  text-shadow: 1px 1px 1px black;
}

.header .type {
  gap: 10px;
}

.header button {
  text-shadow: 1px 1px 3px black;
}

.header button + button {
  background: var(--red-color-100);
}

.header button + button:hover {
  background-color: var(--red-color-hover);
}

.header a:hover {
  color: var(--white-color-100);
}

@media screen and (max-width: 600px){
  .header {
    position: static;
  }

  .visible {
    background: var(--black-color-100);
    padding: 10px 0px 10px 0px;
  }

  .header .container {
    padding: 10px 0px 10px 0px;
  }

  .logo img {
    max-width: 120px;
  }

  .header nav, .header button{
    display: none;
  }
}
