.header {
  background-color: var(--black-color-100);
  width: 100vw;
  position: fixed;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
  transition: .4s;
}

.header img{
  cursor: pointer;
}

.active {
  color: var(--white-color-100);
}

.visible {
  background: linear-gradient(to top, transparent, black);
  box-shadow: none;
  padding: 20px 0px 40px 0px;
  transition: .2s;
}

.header .container {
  justify-content: space-between;
  padding: 20px 0px 20px 0px;
  text-transform: uppercase;
}

.header ul {
  gap: 40px;
  text-shadow: 1px 1px 1px black;
}

.menu {
  display: none;
}

@media screen and (max-width: 1000px) and (min-width: 701px){
  .logo {
    flex-direction: column;
    gap: 50px;
  }
}

@media screen and (max-width: 700px){
  .menu {
    display: block;
    max-width: 50px;
  }

  .header nav{
    display: none;
  }

  .header {
    background: var(--black-color-100);
    padding: 10px 0px 10px 0px;
    position: initial;
  }

  .header .container {
    padding: 10px 0px 10px 0px;
  }

  .logo-img {
    max-width: 150px;
  }

  .header .modal ul{
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 30px;
    justify-content: center
  }

  .header .modal {
    display: block;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 80px;
    padding-top: 60px;
    left: 0px;
    background-color: var(--gray-color-100);
    z-index: 10;
  }

  .header .modal ul{
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  .header .modal a{
    padding: 10px 15px;
    background-color: var(--red-color-100);
    color: var(--white-color-100);
    border-radius: 8px;
  }

  .header .modal li{
    margin-bottom: 18px;
  }
}
