<header class="header bg" [ngClass]="{'visible': visibility < 50}">
  <div class="flex container logo">
    <img src="assets/img/icons/logo.svg" alt="logo" routerLink="home">
    <nav>
      <ul class="flex text-small">
        <li><a [routerLinkActive]="'active'" [routerLink]="['/home/popular']">popular</a></li>
        <li><a [routerLinkActive]="'active'" [routerLink]="['/home/top']">top rated</a></li>
        <li><a [routerLinkActive]="'active'" [routerLink]="['/home/upcoming']">upcoming</a></li>
      </ul>
    </nav>
  </div>
</header>
