<main class="home">
  <swiper [slidesPerView]="1" [spaceBetween]="0" [loop]="true">
    <ng-template swiperSlide class="banner" *ngFor="let movie of movies">
      <img src="https://image.tmdb.org/t/p/original{{ movie.backdrop_path}}" alt="">
      <div class="banner-info flex-cln">
        <span class="text-medium">{{ movie.release_date | date }}</span>
        <h1 class="lato-bold text-large">{{ movie.title }}</h1>
        <p class="text-minimal">{{ movie.overview }}</p>
        <span class="text-minimal">{{ movie.vote_count }} Reviews</span>
        <button class="btn">WATCH NOW</button>
      </div>
    </ng-template>
  </swiper>
</main>

<section class="popular">
  <h1>Popular Movies</h1>
</section>

<section class="top_rated">
  <h1>Top Movies</h1>
</section>

<section class="upcoming">
  <h1>Upcoming Movies</h1>
</section>
