<main class="home">
  <swiper [slidesPerView]="1" [spaceBetween]="0">
    <ng-template swiperSlide class="banner" *ngFor="let movie of popular?.slice(0, 3)">
      <img src="https://image.tmdb.org/t/p/original{{ movie.backdrop_path }}" alt="" loading="lazy" width="auto"
        height="auto" [routerLink]="['/home/movie/', movie.id]">
      <div class="banner-info flex-cln">
        <span class="text-medium">{{ movie.release_date | date }}</span>
        <h1 class="lato-bold text-large">{{ movie.title }}</h1>
        <p class="text-minimal">{{ movie.overview }}</p>
        <span class="text-minimal">{{ movie.vote_count }} Avaliações</span>
      </div>
    </ng-template>
  </swiper>
</main>

<div class="home-posters">

  <div class="container flex-cln post">
    <h1 class="text-high">Lançamentos</h1>
    <div>
      <swiper [config]="config">
        <ng-template swiperSlide class="banner" *ngFor="let movie of upcoming?.slice(0, 7)">
          <img src="https://image.tmdb.org/t/p/{{ pixel.poster() }}{{ movie.poster_path }}" alt="" class="poster"
            loading="lazy" [routerLink]="['/home/movie/', movie.id]" width="auto" height="auto">
        </ng-template>
      </swiper>
    </div>
  </div>

  <div class="container flex-cln post">
    <h1 class="text-high">Populares</h1>
    <div>
      <swiper [config]="config">
        <ng-template swiperSlide class="banner" *ngFor="let movie of popular?.slice(0, 12)">
          <img src="https://image.tmdb.org/t/p/{{ pixel.poster() }}{{ movie.poster_path }}" alt="" class="poster"
            loading="lazy" [routerLink]="['/home/movie/', movie.id]" width="auto" height="auto">
        </ng-template>
      </swiper>
    </div>
  </div>

  <div class="container flex-cln post">
    <h1 class="text-high">Rankeados</h1>
    <div>
      <swiper [config]="config">
        <ng-template swiperSlide class="banner" *ngFor="let movie of top?.slice(0, 12)">
          <img src="https://image.tmdb.org/t/p/{{ pixel.poster() }}{{ movie.poster_path }}" alt="" class="poster"
            loading="lazy" [routerLink]="['/home/movie/', movie.id]" width="auto" height="auto">
        </ng-template>
      </swiper>
    </div>
  </div>

</div>
