.popular-main {
  padding-top: 15%;
}

.popular-movies {
  margin-top: 30px;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}

.popular-main img:hover{
  opacity: 0.7;
  border: 1px solid var(--white-color-50);
  transition: .2s;
}

@media screen and (max-width: 1000px) {
  .popular-main {
    padding-top: 30%;
  }
}

@media screen and (max-width: 600px) {
  .popular-main {
    padding-top: 20%;
  }

  .popular-movies {
    grid-template-columns: repeat(3, 1fr);
  }

  .popular-main img:hover{
    opacity: 1;
    border: 1px solid var(--black-color-100);
  }
}
