@import "assets/theme/variable.css";
@import "assets/theme/posters.css";

body, html {
  color: var(--white-color-100);
  font-family: var(--fonts);
  font-weight: 400;
  background-color: rgb(2, 2, 2);
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: var(--white-color-75);
}

li {
  list-style: none;
}

button {
  color: var(--white-color-100);
}

.container {
  margin: 0 auto;
  max-width: 80%;
}

.swiper-wrapper {
  display: inline-flex;
}

/*MOBILE*/
@media screen and (max-width: 560px) {
  .container {
    max-width: 95%;
  }
}
