<footer class="bg">
  <div class="footer container grid-c2">

    <div class="name-info flex-cln">
      <h1 [routerLink]="['/home/main']" class="text-high"><span style="color: var(--red-color-100);">IU</span>MOVIES
      </h1>
      <h2 class="text-small">Desenvolvido por: <span>Leonardo Leal</span></h2>
      <p class="text-minimal">@Copyright todos direitos reservados</p>
    </div>

    <div class="links-info">
      <nav>
        <ul class="flex text-small">
          <li><a [routerLink]="['/home/popular']">Populares</a></li>
          <li><a [routerLink]="['/home/top']">Rankeados</a></li>
          <li><a [routerLink]="['/home/upcoming']">Lançamentos</a></li>
        </ul>
      </nav>
    </div>

  </div>
</footer>
