<footer class="bg">
  <div class="footer container grid-c2">

    <div class="name-info flex-cln">
      <img src="assets/img/icons/logo.svg" alt="">
      <h3 class="text-small">Densenvolvido por: <span>Leonardo Leal</span></h3>
      <p class="text-minimal">@Copyright todos direitos reservados</p>
    </div>

    <div class="links-info">
      <nav>
        <ul class="flex text-small">
          <li><a href="">Home</a></li>
          <li><a href="">Popular</a></li>
          <li><a href="">Top Rated</a></li>
          <li><a href="">Upcoming</a></li>
        </ul>
      </nav>
    </div>

  </div>
</footer>
