.movie picture img{
  width: 100%;
  height: 85vh;
  object-fit: cover;
  filter: brightness(40%);
}

.movie-info {
  position: absolute;
  left: 10%;
  top: 250px;
}

.movie .cards {
  gap: 10px;
}

.movie .cards span {
  padding: 10px 15px;
  background-color: var(--red-color-100);
  border-radius: 5px;
  margin-top: 3%;
}

.movie .movie-info p {
  padding: 10px 15px;
  border-radius: 5px;
  background: var(--black-color-100);
  max-width: 800px;
  margin-top: 5%;
}

.average {
  height: 100px;
  margin-top: 20px;
  margin-bottom: 10%;
}

.average span{
  position: absolute;
  top: 26px;
  left: 26px;
  font-size: 2.25rem;
}

round-progress {
  max-width: 100px;
}

@media screen and (max-width: 600px) {
  .movie picture img{
    height: 30vh;
    filter: brightness(50%);
  }

  .movie .movie-info {
    position: initial;
    padding: 20px 0px 40px;
  }

  .movie .movie-info p {
    max-width: 100%;
  }

  .movie .average {
    position: absolute;
    top: 100px;
  }

  .average span{
    position: absolute;
    top: 17px;
    left: 15px;
    font-size: 1.75rem;
    text-shadow: 1px 1px 3px black;
  }

  round-progress {
    max-width: 70px;
  }

  .movie .movie-info p {
    padding: 0px 0px;
    background: none;
  }
}



