<main class="movie">
  <picture *ngIf="movie?.backdrop_path != null">
    <img src="https://image.tmdb.org/t/p/original{{ movie?.backdrop_path }}" alt="banner-principal" loading="lazy"
      width="auto" height="auto">
  </picture>

  <div class="movie-info container">

    <div class="average">
      <round-progress [current]="movie?.vote_average" [max]="10" [color]="round?.circle(movie?.vote_average)"
        [background]="'#2b2b2b'" [radius]="125" [stroke]="20" [semicircle]="false" [rounded]="true" [clockwise]="true"
        [responsive]="false" [duration]="800" [animation]="'easeInOutQuart'" [animationDelay]="500"></round-progress>
      <span>{{ movie?.vote_average | average }}</span>
    </div>

    <div class="info">
      <h1 class="text-large lato-black">{{ movie?.title }}</h1>
      <div class="flex cards">
        <span class="text-small" *ngFor="let item of movie?.genres?.slice(0, 3)">{{ item?.name }}</span>
      </div>
      <p class="text-minimal">{{movie?.overview}}</p>
    </div>

  </div>
</main>

<section>
  <app-credits [id]="userId"></app-credits>
</section>
